@import "nullstyle";
@import "fonts";

body {
  font-weight: 500;
  font-family: "Gilroy";
  // overflow-x: hidden;
}
.lock {
  overflow: hidden;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0px 10px;
}

//=============================================================

.header {
  @media (max-width: 425px) {
    display: none;
  }

  &__menu {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #000;
    padding: 32px 0px;
    justify-content: space-between;

    .selected__menu {
      a {
        color: #000;
      }
    }
    li {
      a {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: #828282;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.greetings {
  position: relative;
  @media (max-width: 425px) {
    .greetings {
      &__burger {
        display: block;
      }
      &__burger_langs {
        .selected__lang {
          color: #000;
        }

        span {
          cursor: pointer;
        }

        font-size: 34px;
        line-height: 42px;
        color: #828282;
        align-self: flex-end;
        width: 144px;
        transform: rotate(90deg);
        transform-origin: 90% 70%;
      }
      &__burger_menu {
        transform: translate(0, -100%);
        display: flex;
      }

      display: flex;
      flex-flow: column nowrap;
      &__top {
        display: block;
      }
      &__subtitle {
        margin-top: 15px;
      }
      &__image {
        img {
          display: none;
          // max-width: none;
        }
        background: url(../img/greetings/BSPP2266.jpg) 0 0/100% no-repeat;
        height: 580px;
      }
    }
  }

  padding: 37px 0px 100px 0px;

  @media (max-width: 768px) {
    padding: 30px 0px;
  }

  &__burger_menu {
    transition: .5s;
    min-height: 100%;
    .greetings__burger_main {
      flex: 1 1 auto;
    }

    position: fixed;
    z-index: 2;
    padding: 30px 26px 30px;
    display: flex;
    flex-flow: column nowrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
    
    a {
      color: #828282;
    }
    .selected__menu {
      a {color: #090909;}
    }
    .greetings__burger_list {
      li {
        margin-bottom: 20px;
      }
    }

    display: none;
  }

  .burger_menu_active {
    overflow: auto;
    transform: translate(0, 0);
  }

  &__burger {
    display: none;

    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 15px;
    width: 33px;
    height: 25px;
    span {
      transition: .5s;
      display: block;
      height: 5px;
      background-color: #000;

      margin-bottom: 4px;
    }
  }

  .burger_active {
    position: fixed;
    margin: -10px 0px 0px 0px;

    span {
      background-color: #828282;

      &:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 17px;
        left: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translate(-100%, 0);
      }
    }
  }

  &__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 47.3392px;
    line-height: 59px;
    font-weight: 700;
    color: #070707;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    align-self: center;
  }

  &__langs {
    display: none;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transition: 1s;
    transform-origin: 92% 8%;
    transform: rotate(-90deg);
    margin: 10px 0px 0px 0px;
    height: 1em;

    .selected__lang {
      color: #000000;
    }

    span {
      cursor: pointer;
      font-weight: 700;
    }
  }

  &__image {
    img {
      max-width: 100%;
    }
  }
}

.about {
  background-color: #f6f6f6;
  padding: 100px 0px 107px;

  @media (max-width: 768px) {
    padding: 40px 0px;
  }

  &__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: 700;
    color: #070707;
    margin-bottom: 17px;
  }

  &__text {
    max-width: 487px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;

    p {
      margin-bottom: 40px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.skills {
  @media (max-width: 768px) {
    padding: 40px 0px;
  }

  @media (max-width: 708px) {
    .skills {
      &__programs {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width: 65%;
        margin: 0 auto;
      }

      &__subtitle {
        margin-bottom: 0px;
      }

      &__title {
        margin-bottom: 30px;
      }

      &__elem {
        margin-top: 35px;
      }
    }
  }
  @media (max-width: 525px) {
    .skills {
      &__programs {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width: 95%;
        margin: 0 auto;
      }
    }
  }

  text-align: center;
  padding: 90px 0px;

  &__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: 700;
    color: #070707;
    margin-bottom: 60px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-bottom: 80px;
  }

  &__programs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__elem {
    &:nth-child(1),
    &:nth-child(3) {
      .skills__icon {
        background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0c0824 100%);
      }
    }
    &:nth-child(2) {
      .skills__icon {
        background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1c0a00 100%);
      }
    }
    &:nth-child(4) {
      .skills__icon {
        display: flex;
        flex-flow: row wrap;
        background-color: none;
        max-width: 60px;
        margin: 0 auto;

        span:nth-child(1) {
          height: 30px;
          width: 30px;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          background-color: #f24e1e;
        }
        span:nth-child(2) {
          height: 30px;
          width: 30px;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          background-color: #ff7262;
        }
        span:nth-child(3) {
          height: 30px;
          width: 30px;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          background-color: #a259ff;
        }
        span:nth-child(4) {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: #1abcfe;
        }
        span:nth-child(5) {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border-top-right-radius: 0;
          background-color: #1abcfe;
        }
      }
    }
  }

  &__icon {
    display: inline-block;

    height: 90px;
  }

  &__name {
    margin-top: 24px;
    color: #828282;
    font-weight: 700;
    margin-bottom: 20px;
    height: 28px;
  }

  &__rating {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    img {
      display: inline-block;
      padding: 0px 4.5px;
    }
  }
}

.portfolio {
  @media (max-width: 768px) {
    padding: 30px 50px;
    .portfolio {
      &__title {
        margin-bottom: 25px;
      }
      &__item {
        margin-bottom: 40px;
      }
      &__description {
        margin-top: 20px;
      }
    }
  }
  @media (max-width: 425px) {
    padding: 20px 20px;
  }

  background-color: #f6f6f6;
  padding: 80px 0 90px;
  text-align: center;

  &__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: 700;
    color: #070707;
    margin-bottom: 47px;
  }

  &__item {
    margin-bottom: 100px;
    &:last-child {
      margin: 0;
    }
  }

  &__image {
    img {
      max-width: 100%;
    }
  }

  &__description {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: underline;
    color: #070707;
    margin-top: 40px;

    &:hover {
      text-decoration: underline;
      color: #8c8bdb;
    }
  }
}

.contacts {
  @media (max-width: 768px) {
    padding: 30px 0px;
    .contacts {
      &__button {
        margin-bottom: 30px;
      }
      &__networks {
        margin-bottom: 30px;
      }
    }
  }

  padding: 85px 0px 100px;
  text-align: center;

  &__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__button {
    margin-bottom: 75px;
    display: inline-block;
    font-size: 18px;
    line-height: 38px;
    background-color: #000;
    width: 166px;
    height: 38px;
    text-align: center;
    border-radius: 20px;
    color: #ffffff;

    &:hover {
      background-color: #585858;
    }
  }

  &__networks {
    margin-bottom: 75px;
    max-width: 100%;
  }

  &__text {
    line-height: 17px;
    text-align: center;

    color: #828282;
  }
}
